body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    height: 75px;
    background: url('https://c02.purpledshub.com/uploads/sites/41/2013/04/GettyImages-640318118-c83a508.jpg?w=1029&webp=1') no-repeat center center;
    background-size: cover;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.form-inline {
    display: flex;
    align-items: center;
}

.navbar-collapse {
    flex-grow: 0;
}

.navbar-nav {
    display: flex;
    list-style: none;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

.nav-item {
    display: inline;
}

.nav-link {
    color: white;
    font-size: 1.5rem;
}

.nav-link:hover {
    text-decoration: underline;
}

.first-column {
    background-color: #9898ffe6;
    height: 100vh;
}

.first-column ul {
    padding: 0;
}

.first-column li {
    padding: 10px 20px;
    border-bottom: 1px solid #dee2e6;
}

.first-column a {
    color: #393939;
}

.first-column a:hover {
    color: #FF1971;
}

.btn-custom {
    background-color: #FF2B6D;
    color: #fff;
}

.btn-custom:hover {
    background-color: #4319ff;
    color: #fff;
}


.purple-sub {
    background-color: #9568d4d4;
    padding: 5px 10px;
    font-size: 16px;
}

.emails {
    background-color: #ffa1dedb;
    padding: 10px;
}


.fake-text {
    background-color: white;
    padding: 10px;
}

@media (max-width: 600px) {
    .first-column {
        display: none;
    }
}

